$white: #fff; 
$black: #000;
$header: #292929;
$subtitle:#666666;
$yel:#FEDB3F;
$yelhov:#FFD517;

@import './layout/normalize.scss';
@import './layout/fonts.scss';
@import './layout/base.scss';
@import './components/header.scss';
@import './components/logo';
@import './components/preview';
@import './components/button';
@import './components/additionally';
@import './components/section';
@import './components/why';
@import './components/title';
@import './components/reviews';
@import './components/form';
@import './components/fix-menu';



















