.button {
    background: $yel;
    border-radius: 100px;
    padding: 21px 41px;
    color: $black;
    font-size: 16px;
    font-weight: 800;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.3s;
    &:hover{
        background: $yelhov;
    }
    }
    