.preview {
    margin-left: 79px;
    max-width: 550px;

}
.preview__title {
    color: $white;
font-size: 48px;
font-weight: 700;
line-height: 58px;
text-transform: uppercase;
margin-bottom: 17px;
}
.preview__subtitle {
    color: $white;
font-size: 21px;
font-weight: 400;
line-height: 25px;
margin-bottom: 60px;
}